<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Create New Deck</title>
  </head>
  <body>
    <div class="container">
      <h1>Create New Deck</h1>
      <form id="newDeckForm" class="form-style">
        <label for="deckName">Deck Name:</label>
        <input type="text" id="deckName" name="deckName" required />
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>

    <script src="../static/scripts/create-deck.js"></script>
  </body>
</html>
