<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Create New Card</title>
  </head>
  <body>
    <div class="container">
      <h1>Create New Card</h1>
      <form id="newCardForm" class="form-style">
        <label for="front">Front:</label>
        <input type="text" id="front" name="front" required />
        <label for="back">Back:</label>
        <input type="text" id="back" name="back" required />
        <button type="submit" class="btn">Create Card</button>
      </form>
    </div>

    <script src="../static/scripts/create-card.js"></script>
  </body>
</html>
