<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Decks</title>
  </head>
  <body>
    <div class="container">
      <h1>Decks</h1>
      <button class="btn" onclick="createDeck()">Create New Deck</button>
      <table id="decksTable" class="decks-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <script src="../static/scripts/script.js"></script>
  </body>
</html>
