<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>View Cards</title>
  </head>
  <body>
    <div class="container">
      <h1>Cards in Deck</h1>
      <button id="createCardBtn" class="btn">Add New Card</button>
      <table id="cardsTable" class="decks-table">
        <thead>
          <tr>
            <th>Front</th>
            <th>Back</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <script src="../static/scripts/view-cards.js"></script>
  </body>
</html>
